.site-layout-content {
  min-height: 500px;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  margin: 0px 30px;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
  [data-theme="dark"] .site-layout-content {
    background: #141414;
  }

.ml-3{
  margin-left: 6px;
}